/* primary - normal */
@font-face {
    font-family: 'primary';
    src: url('https://feliisea.github.io/assets/typography/primary/fonts/KGPrimaryPenmanship.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* primary - wide */
@font-face {
    font-family: 'primary wide';
    src: url('https://feliisea.github.io/assets/typography/primary/fonts/KGPrimaryPenmanship2.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* primary - italic */
@font-face {
    font-family: 'primary italic';
    src: url('https://feliisea.github.io/assets/typography/primary/fonts/KGPrimaryItalics.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


/* primary - whimsy */
@font-face {
    font-family: 'primary whimsy';
    src: url('https://feliisea.github.io/assets/typography/primary/fonts/KGPrimaryWhimsy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
